*.dll
*.obj
*.ilk
*.pfb
*.pdb
*.exp
*.lyx~
*.lyx#
*.user
*.log
*.tlog
*.pch
*.ipch
*.manifest
*.lastbuildstate
*.opendb
*.sdf
*.suo
*.vspx
Debug
Documentation/OpenHoldem_Manual.chm
Documentation/Chapters/titlepage/images/Temp
Documentation/Chapters/titlepage/original_images
OpenHoldem/Release - Optimized
Release
Release - Optimized
scintilla/bin
.vs/OpenHoldem/v14/.suo
/zzbkp/OpenHoldem.sln
/zzbkp
/OpenHoldem.VC.db
/OpenHoldem.psess
/OpenHoldem/UpgradeLog4.htm
/OpenHoldem/UpgradeLog3.htm
/OpenHoldem/UpgradeLog2.htm
/OpenHoldem/UpgradeLog.htm
/OpenHoldem/OpenHoldem.VC.db
/OpenHoldem/Backup4/OpenHoldem.sln
/OpenHoldem/Backup4
/OpenHoldem/Backup/OpenHoldem.sln
/OpenHoldem/Backup
/OpenHoldem
*.psess
/xmlrpc-c/bin/Debug-DLL-Win32/xmlrpc_transport.exe
/xmlrpc-c/bin/Debug-DLL-Win32/xmlrpc.exe
/xmlrpc-c/bin/Debug-DLL-Win32/sample_auth_client.exe
/xmlrpc-c/bin/Debug-DLL-Win32/sample_add_sync_client.exe
/xmlrpc-c/bin/Debug-DLL-Win32/sample_add_server_w32httpsys.exe
/xmlrpc-c/bin/Debug-DLL-Win32/sample_add_server.exe
/xmlrpc-c/bin/Debug-DLL-Win32/sample_add_asynch_client.exe
/xmlrpc-c/bin/Debug-DLL-Win32/rpctest.exe
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_xmltok.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_xmlparse.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_util.map
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_util.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_server_w32httpsys.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_server_cgi.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_server_abyss.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_server.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_client.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc_abyss.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc.lib
/xmlrpc-c/bin/Debug-DLL-Win32/libxmlrpc++.lib
/xmlrpc-c/bin/Debug-DLL-Win32/gennmtab.exe
/xmlrpc-c/bin/Debug-DLL-Win32/data/sample_add_call.xml
/xmlrpc-c/bin/Debug-DLL-Win32/data/req_value_name.xml
/xmlrpc-c/bin/Debug-DLL-Win32/data/req_out_of_order.xml
/xmlrpc-c/bin/Debug-DLL-Win32/data/req_no_params.xml
/xmlrpc-c/bin/Debug-Static-Win32/xmlrpc_transport.exe
/xmlrpc-c/bin/Debug-Static-Win32/xmlrpc.exe
/xmlrpc-c/bin/Debug-Static-Win32/sample_auth_client.exe
/xmlrpc-c/bin/Debug-Static-Win32/sample_add_sync_client.exe
/xmlrpc-c/bin/Debug-Static-Win32/sample_add_server_w32httpsys.exe
/xmlrpc-c/bin/Debug-Static-Win32/sample_add_server.exe
/xmlrpc-c/bin/Debug-Static-Win32/sample_add_asynch_client.exe
/xmlrpc-c/bin/Debug-Static-Win32/rpctest.exe
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_xmltok.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_xmlparse.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_util.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_server_w32httpsys.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_server_cgi.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_server_abyss.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_server.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_client.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc_abyss.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc.lib
/xmlrpc-c/bin/Debug-Static-Win32/libxmlrpc++.lib
/xmlrpc-c/bin/Debug-Static-Win32/gennmtab.exe
/xmlrpc-c/bin/Debug-Static-Win32/data/sample_add_call.xml
/xmlrpc-c/bin/Debug-Static-Win32/data/req_value_name.xml
/xmlrpc-c/bin/Debug-Static-Win32/data/req_out_of_order.xml
/xmlrpc-c/bin/Debug-Static-Win32/data/req_no_params.xml
/xmlrpc-c/bin/Release-Static-Win32/xmlrpc_transport.exe
/xmlrpc-c/bin/Release-Static-Win32/xmlrpc.exe
/xmlrpc-c/bin/Release-Static-Win32/sample_auth_client.exe
/xmlrpc-c/bin/Release-Static-Win32/sample_add_sync_client.exe
/xmlrpc-c/bin/Release-Static-Win32/sample_add_server_w32httpsys.exe
/xmlrpc-c/bin/Release-Static-Win32/sample_add_server.exe
/xmlrpc-c/bin/Release-Static-Win32/sample_add_asynch_client.exe
/xmlrpc-c/bin/Release-Static-Win32/rpctest.exe
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_xmltok.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_xmlparse.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_util.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_server_w32httpsys.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_server_cgi.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_server_abyss.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_server.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_client.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc_abyss.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc.lib
/xmlrpc-c/bin/Release-Static-Win32/libxmlrpc++.lib
/xmlrpc-c/bin/Release-Static-Win32/gennmtab.exe
/xmlrpc-c/bin/Release-Static-Win32/data/sample_add_call.xml
/xmlrpc-c/bin/Release-Static-Win32/data/req_value_name.xml
/xmlrpc-c/bin/Release-Static-Win32/data/req_out_of_order.xml
/xmlrpc-c/bin/Release-Static-Win32/data/req_no_params.xml
/xmlrpc-c/examples/xmlrpc_socket_server.c
/xmlrpc-c/examples/xmlrpc_server_validatee.c
/xmlrpc-c/examples/xmlrpc_sample_add_server_w32httpsys.c
/xmlrpc-c/examples/xmlrpc_sample_add_server_cgi.c
/xmlrpc-c/examples/xmlrpc_sample_add_server.c
/xmlrpc-c/examples/xmlrpc_sample_add_client.c
/xmlrpc-c/examples/xmlrpc_loop_server.c
/xmlrpc-c/examples/xmlrpc_inetd_server.c
/xmlrpc-c/examples/xmlrpc_asynch_client.c
/xmlrpc-c/examples/synch_client.c
/xmlrpc-c/examples/README
/xmlrpc-c/examples/parse_xml.c
/xmlrpc-c/examples/Makefile
/xmlrpc-c/examples/json.c
/xmlrpc-c/examples/interrupted_server.c
/xmlrpc-c/examples/interrupted_client.c
/xmlrpc-c/examples/gen_sample_add_xml.c
/xmlrpc-c/examples/cpp/xmlrpc_sample_add_server_cgi.cpp
/xmlrpc-c/examples/cpp/xmlrpc_sample_add_server.cpp
/xmlrpc-c/examples/cpp/xmlrpc_sample_add_client.cpp
/xmlrpc-c/examples/cpp/xmlrpc_loop_server.cpp
/xmlrpc-c/examples/cpp/xmlrpc_inetd_server.cpp
/xmlrpc-c/examples/cpp/sample_add_client_complex.cpp
/xmlrpc-c/examples/cpp/pstream_serial_server.cpp
/xmlrpc-c/examples/cpp/pstream_inetd_server.cpp
/xmlrpc-c/examples/cpp/pstream_client.cpp
/xmlrpc-c/examples/cpp/Makefile
/xmlrpc-c/examples/cpp/callinfo_abyss_server.cpp
/xmlrpc-c/examples/cpp/asynch_client.cpp
/xmlrpc-c/examples/config.h
/xmlrpc-c/examples/compound_value_server.c
/xmlrpc-c/examples/compound_value_client.c
/xmlrpc-c/examples/auth_client.c
