*.dll
*.obj
*.ilk
*.pfb
*.pdb
*.exp
*.lyx~
*.lyx#
*.user
*.log
*.tlog
*.pch
*.ipch
*.manifest
*.lastbuildstate
*.opendb
*.sdf
*.suo
Debug
Documentation/OpenHoldem_Manual.chm
Documentation/Chapters/titlepage/images/Temp
Documentation/Chapters/titlepage/original_images
OpenHoldem/Release - Optimized
Release
Release - Optimized
scintilla/bin



/OpenHoldem/Backup/OpenHoldem.sln
/OpenHoldem/UpgradeLog3.htm
/OpenHoldem/UpgradeLog2.htm
/OpenHoldem/UpgradeLog.htm
/OpenHoldem.VC.db
/zzbkp/OpenHoldem.sln
/OpenHoldem/OpenHoldem.VC.db
/OpenHoldem/UpgradeLog4.htm
/OpenHoldem/Backup4/OpenHoldem.sln
/OpenHoldem161015.vspx
/OpenHoldem161013.vspx
/OpenHoldem161013(1).vspx
/OpenHoldem161012.vspx
/OpenHoldem161011.vspx
/OpenHoldem161011(4).vspx
/OpenHoldem161011(3).vspx
/OpenHoldem161011(2).vspx
/OpenHoldem161011(1).vspx
/OpenHoldem161005.vspx
/OpenHoldem161003.vspx
/OpenHoldem160928.vspx
/OpenHoldem160928(4).vspx
/OpenHoldem160928(3).vspx
/OpenHoldem160928(2).vspx
/OpenHoldem160928(1).vspx
/OpenHoldem.psess
/OpenHoldem161029.vspx
/OpenHoldem161029(1).vspx
/OpenHoldem161028.vspx
/OpenHoldem161028(1).vspx
